<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} Powered By {{ developer }}!
  </h1>
  <img [src]="urlImage" width="600"/>

  <button (click)="onSave()">Save</button>

  <h2>Two-way Binding Demo</h2>  
   <input [(ngModel)]="fullName" /> <br/><br/>  
  <p> {{fullName}} </p>
  
  
  <div> Months :
    <select>
       <option *ngFor = "let month of months">{{month}}</option>
    </select>
 </div>

  <br/>
  <div>
    <span *ngIf = "isavailable">Condition is valid.</span> 
    <!--over here based on if condition the text condition is valid is displayed. 
    If the value of isavailable is set to false it will not display the text.-->
  </div>

  <div>
  <ul *ngFor="let person of people">
      <li [ngStyle]="{'color':getColor(person.country)}"> {{ person.name }} ({{ person.country }})
      </li>
    </ul>
  </div>

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

